<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>krasworld.ru - 404</title>

    <!-- css connecting -->
    <link rel="stylesheet" href="{% static "main/css/style.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "main/css/bootstrap.min.css"%}" type="text/css">
</head>
<body>
    <!--<div class="col-lg-12 text-center">
        <div class="section-title">
            <h2>404</h2>
            <p>Страница не найдена! =(</p>
            <div class="star">
                <img class="vault-star" src="{% static "main/img/star.png"%}" alt=""> <h2 class="star-h2">➞ 1 ₽</h2> 
            </div>
        </div>
    </div>-->
</body>
</html>